.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 2;
  transform-origin: bottom;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(18);
  }
  20% {
    transform: rotate(-9deg);
  }
  30% {
    transform: rotate(21deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(11deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
